@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*===============================================================================
Preloader
==================================================================================*/
:root {
  --loader-width: 40px;
  --loader-height: 40px;
  --less-margin: -20px;
  --loader-color-primary: #27ae60;
  --loader-color-secondary: #eee;
  --line-width: 2px;
  --animation-duration: 2s;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  background: #fff;
  top: 0;
  left: 0;
}

.swis-font {
  font-family: var(--uc-brand-font);
}

.preloader .loader {
  position: relative;
  border: var(--line-width) solid var(--uc-gray-color);
  border-radius: 50%;
  border-top: var(--line-width) solid var(--uc-primary-color);
  width: var(--loader-width);
  height: var(--loader-height);
  -webkit-animation: spin var(--animation-duration) linear infinite;
  animation: spin var(--animation-duration) linear infinite;
  margin-top: var(--less-margin);
  margin-left: var(--less-margin);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html,
body {
  overflow-x: hidden;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*===============================================================================
Default Style
==================================================================================*/
body {
  font-size: 14px;
  font-family: var(--uc-general-font);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-height: 30px;
  list-style-type: disc;
  list-style-position: inside;
}

p {
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--uc-accent-font);
  color: var(--uc-dark-color);
  font-weight: 800;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 45px;
}

h2,
.h2 {
  font-size: 36px;
  line-height: 40px;
}

h3,
.h3 {
  font-size: 35px;
  line-height: 38px;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 21px;
  line-height: 28px;
}

h6,
.h6 {
  font-size: 18px;
  line-height: 24px;
}

a {
  font-family: var(--uc-text-font);
  color: var(--uc-primary-color);
  text-decoration: none;
}

small {
  font-size: 13px;
}

.custom-text {
  font-size: 35px;
  font-family: var(--uc-general-font);
}

blockquote {
  font-family: "Times New Roman";
  font-size: 18px;
  font-style: italic;
  padding-left: 20px;
  border-left: 2px;
  border-left-color: var(--uc-primary-color);
  border-left-style: solid;
  line-height: 30px;
  color: var(--uc-dark-color);
}

.full-row {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.box-70px {
  width: 70px;
  height: 70px;
}

.tagline,
.tagline-2 {
  text-transform: uppercase;
  font-family: var(--uc-primary-font);
  font-size: 13px;
  color: var(--uc-primary-color);
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  position: relative;
  display: table;
}

.tagline-2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: var(--uc-primary-color);
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.sub-title {
  font-family: var(--uc-primary-font);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  line-height: 28px;
}

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.transation,
.transation-all * {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

#page_wrapper {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.content-block {
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.form-group {
  position: relative;
  display: flex;
  gap: 7px;
}

img.nav-logo {
  width: 140px;
}

.entry-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.brand-font {
  font-family: var(--uc-brand-font);
}

/*=========================================================
Custom Webfont
=========================================================*/

@font-face {
  font-family: "unicode";
  src: url("../webfonts/unicode/fonts/unicode08ca.eot?2otzge");
  src: url("../webfonts/unicode/fonts/unicode08ca.eot?2otzge#iefix")
      format("embedded-opentype"),
    url("../webfonts/unicode/fonts/unicode08ca.ttf?2otzge") format("truetype"),
    url("../webfonts/unicode/fonts/unicode08ca.woff?2otzge") format("woff"),
    url("../webfonts/unicode/fonts/unicode08ca.svg?2otzge#unicode")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="unicode-"],
[class*=" unicode-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "unicode" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unicode-hotel:before {
  content: "\e900";
}

.unicode-bed:before {
  content: "\e901";
}

.unicode-bathroom:before {
  content: "\e902";
}

.unicode-garage:before {
  content: "\e903";
}

.unicode-rent:before {
  content: "\e904";
}

.unicode-for-rent:before {
  content: "\e905";
}

.unicode-list:before {
  content: "\e906";
}

.unicode-reward:before {
  content: "\e907";
}

.unicode-real-estate:before {
  content: "\e908";
}

.unicode-seller:before {
  content: "\e909";
}

.unicode-home:before {
  content: "\e90a";
}

.unicode-contact:before {
  content: "\e90b";
}

.unicode-payment:before {
  content: "\e90c";
}

.unicode-pin:before {
  content: "\e90d";
}

.unicode-budget:before {
  content: "\e90e";
}

.unicode-link:before {
  content: "\e90f";
}

.unicode-house:before {
  content: "\e910";
}

.unicode-man:before {
  content: "\e911";
}

.unicode-invention:before {
  content: "\e912";
}

.unicode-investment:before {
  content: "\e913";
}

.unicode-sketch:before {
  content: "\e914";
}

.unicode-seller-1:before {
  content: "\e915";
}

.unicode-increase:before {
  content: "\e916";
}

.unicode-search:before {
  content: "\e917";
}

.unicode-investor:before {
  content: "\e918";
}

.unicode-handshake:before {
  content: "\e919";
}

.unicode-strategy:before {
  content: "\e91a";
}

.unicode-diagram:before {
  content: "\e91b";
}

.unicode-money:before {
  content: "\e91c";
}

.unicode-tick:before {
  content: "\e91d";
}

.unicode-compare:before {
  content: "\e91e";
}

.unicode-compare-1:before {
  content: "\e91f";
}

.unicode-prize:before {
  content: "\e920";
}

.unicode-medal:before {
  content: "\e921";
}

.unicode-user:before {
  content: "\e922";
}

.unicode-lock:before {
  content: "\e923";
}

.unicode-checked:before {
  content: "\e924";
}

.unicode-mail:before {
  content: "\e925";
}

.unicode-open:before {
  content: "\e926";
}

.unicode-alarm:before {
  content: "\e927";
}

.unicode-bell:before {
  content: "\e928";
}

.unicode-dashboard:before {
  content: "\e929";
}

.unicode-calendar:before {
  content: "\e92a";
}

.unicode-star:before {
  content: "\e92b";
}

.unicode-forward:before {
  content: "\e92c";
}

.unicode-resume:before {
  content: "\e92d";
}

.unicode-share:before {
  content: "\e92e";
}

.unicode-percentage:before {
  content: "\e92f";
}

.unicode-settings:before {
  content: "\e930";
}

.unicode-eye:before {
  content: "\e931";
}

.unicode-heart:before {
  content: "\e932";
}

.unicode-house-1:before {
  content: "\e933";
}

.unicode-payment-1 .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
  opacity: 0.942;
}

.unicode-payment-1 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.945;
}

.unicode-code-signs:before {
  content: "\e936";
}

.unicode-setting-lines:before {
  content: "\e937";
}

.unicode-question:before {
  content: "\e938";
}

.unicode-email:before {
  content: "\e939";
}

.unicode-chat-comment-oval-speech-bubble-with-text-lines:before {
  content: "\e93a";
}

.unicode-house-2:before {
  content: "\e93b";
}

.unicode-zoom-in:before {
  content: "\e93c";
}

.unicode-arrow:before {
  content: "\e93d";
}

.unicode-villa:before {
  content: "\e93e";
}

.unicode-appartments:before {
  content: "\e93f";
}

.unicode-office:before {
  content: "\e940";
}

.unicode-office-1:before {
  content: "\e941";
}

.unicode-trophy:before {
  content: "\e942";
}

.unicode-briefcase:before {
  content: "\e943";
}

.unicode-idea:before {
  content: "\e944";
}

.unicode-direct-download:before {
  content: "\e945";
}

.unicode-folder-management:before {
  content: "\e946";
}

.unicode-quote:before {
  content: "\e947";
}

.unicode-play-button-arrowhead:before {
  content: "\e948";
}

.unicode-shop:before {
  content: "\e949";
}

.unicode-appartment:before {
  content: "\e94a";
}

/*==========================================================
Page Banner
==========================================================*/
.page-title {
  font-family: var(--uc-primary-font);
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: initial;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.599);
  margin-top: 40px;
}

/* Custom Video Banner */

.custom-video-banner {
  height: 100vh;
  padding: 250px 0;
}

/*==========================================================
Font Variations
==========================================================*/

.font-primary {
  font-family: var(--uc-primary-font);
}

.font-secondary {
  font-family: var(--uc-secondary-font);
}

.font-text {
  font-family: var(--uc-text-font);
}

.font-accent {
  font-family: var(--uc-accent-font);
}

/*==========================================================
Color Settings
==========================================================*/
.down-line-white:before,
.bg-white {
  background-color: var(--uc-white-color) !important;
}

.bg-brand {
  background-color: #ede8d0;
}

.down-line:before,
.bg-primary {
  background-color: var(--uc-primary-color) !important;
}

.down-line-secondary:before,
.bg-secondary {
  background-color: var(--uc-secondary-color) !important;
}

.bg-light {
  background-color: var(--uc-light-color) !important;
}

.bg-light-gray {
  background-color: var(--uc-light-gray-color) !important;
}

.bg-gray {
  background-color: var(--uc-gray-color) !important;
}

.down-line-dark:before,
.bg-dark {
  background-color: var(--uc-dark-color) !important;
}

.bg-footer {
  /* background-color: #232528; */
  /* background-color: rgba(0, 0, 0, 0.758); */
  /* background-color: #3e3e3e; */
  background-image: url("../../assets/images/background/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.copyright {
  background-color: #1a1c1e;
}

.color-white,
.hover-color-white:hover,
.nav-white .navbar-nav li a,
.nav-active-white .navbar-nav li.active > a,
.nav-hover-white .navbar-nav li a:hover,
.list-color-white li,
.list-color-white li a {
  color: var(--uc-white-color);
}

.color-primary,
.hover-color-primary:hover,
.nav-primary .navbar-nav li a,
/* .nav-active-primary .navbar-nav li.active > a, */
.nav-hover-primary .navbar-nav li a:hover,
.list-color-primary li,
.list-color-primary li a {
  /* color: var(--uc-primary-color) !important; */
  transform: scale(1.1);
  font-weight: 800;
}

.color-secondary,
.hover-color-secondary:hover,
.nav-secondary .navbar-nav li a,
.nav-active-secondary .navbar-nav li.active > a,
.nav-hover-secondary .navbar-nav li a:hover,
.list-color-secondary li,
.list-color-secondary li a {
  color: var(--uc-secondary-color) !important;
}

.color-dark,
.hover-color-dark:hover,
.nav-dark .navbar-nav li a,
.nav-active-dark .navbar-nav li.active > a,
.nav-hover-dark .navbar-nav li a:hover,
.list-color-dark li,
.list-color-dark li a {
  color: var(--uc-dark-color) !important;
}

.color-gray,
.hover-color-gray:hover,
.nav-gray .navbar-nav li a,
.nav-active-gray .navbar-nav li.active > a,
.nav-hover-gray .navbar-nav li a:hover,
.list-color-gray li,
.list-color-gray li a {
  color: var(--uc-text-gray-color);
}

.color-light,
.hover-color-light:hover,
.nav-light .navbar-nav li a,
.nav-active-light .navbar-nav li.active > a,
.nav-hover-light .navbar-nav li a:hover,
.list-color-light li,
.list-color-light li a {
  color: var(--uc-light-color);
}

.color-default,
.hover-color-default:hover,
.nav-default .navbar-nav li a,
.nav-active-default .navbar-nav li.active > a,
.nav-hover-default .navbar-nav li a:hover,
.list-color-default li,
.list-color-default li a {
  color: var(--uc-default-color);
}

.color-accent,
.hover-color-accent:hover,
.nav-accent .navbar-nav li a,
.nav-active-accent .navbar-nav li.active > a,
.nav-hover-accent .navbar-nav li a:hover,
.list-color-accent li,
.list-color-accent li a {
  color: var(--uc-accent-color);
}

[class*="overlay-"] {
  position: relative;
}

[class*="overlay-"]::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.overlay-dark::after {
  background-color: var(--uc-dark-opacity-color);
}

.overlay-secondary::after {
  background-color: var(--uc-secondary-opacity-color);
}

[class*="overlay-"] .container,
[class*="overlay-"] .container-fluid {
  position: relative;
  z-index: 10;
}

/*==========================================================
Header Style
==========================================================*/

.navbar .navbar-nav li {
  list-style: none;
}

.navbar .navbar-nav li a {
  font-family: var(--uc-primary-font);
  font-size: 19px;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
  transition: transform 0.4s ease;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--uc-light-color);
}

.navbar.nav-semibold .navbar-nav li a {
  font-weight: 600;
}

.navbar.nav-medium .navbar-nav li a {
  font-weight: 500;
}

.navbar.nav-norlam .navbar-nav li a {
  font-weight: 400;
}

.header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-style-3 {
  width: 100%;
  padding-bottom: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 75%
  );
}

/*==========================================================
Footer Style
==========================================================*/
.footer-logo img {
  width: 150px;
  padding: 8px 0;
}

.bottom-footer-nav {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.copyright {
  letter-spacing: 1px;
  font-family: var(--uc-primary-font);
}

.copyright ul {
  margin: 0;
}

.copyright ul li {
  list-style: none;
}

.copyright ul li a {
  text-decoration: none;
}

/*==========================================================
Button Style
==========================================================*/
.btn {
  font-family: var(--uc-accent-font);
  font-weight: 400;
  font-size: 14px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  padding: 0 20px;
  line-height: 45px;
  display: table;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn:hover {
  background-color: var(--uc-primary-color);
  border-color: var(--uc-primary-color);
}

.btn.btn-primary,
.btn.btn-hover-primary:hover {
  background-color: var(--uc-primary-color);
  border-color: var(--uc-primary-color);
}

.btn.btn-secondary,
.btn.btn-hover-secondary:hover {
  background-color: var(--uc-secondary-color);
  border-color: var(--uc-secondary-color);
}

.btn.btn-light,
.btn.btn-hover-light:hover {
  background-color: var(--uc-light-color);
  border-color: var(--uc-light-color);
}

.btn.btn-gray,
.btn.btn-hover-gray:hover {
  background-color: var(--uc-gray-color);
  border-color: var(--uc-gray-color);
}

.btn.btn-dark,
.btn.btn-hover-dark:hover {
  background-color: var(--uc-dark-color);
  border-color: var(--uc-dark-color);
}

.btn.hover-default:hover {
  filter: brightness(110%);
}

.btn.hover-flash-move {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
}

.btn.hover-flash-move:hover {
  filter: brightness(110%);
}

.btn.hover-flash-move:hover::before {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.hover-flash-move::before {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-link {
  font-family: var(--uc-accent-font);
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  color: var(--uc-dark-color);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-link:hover {
  color: var(--uc-primary-color);
}

.transition-this {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

/*==========================================================
List Style
==========================================================*/

.list-style li {
  position: relative;
  margin-bottom: 10px;
  list-style: none;
}

.list-style li::before {
  position: relative;
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 12px;
  color: var(--theme-primary-color);
  width: 22px;
  height: 22px;
  /* border-radius: 50%; */
  display: inline-block;
  background-color: var(--theme-light-color);
  margin-right: 10px;
  text-align: center;
  /* border: 2px solid black; */
  /* line-height: 22px; */
}

/*==========================================================
Form Style
==========================================================*/
label {
  font-size: 14px;
  line-height: 24px;
}

.form-select {
  cursor: pointer;
}

.form-select,
.form-control {
  border-radius: 2px;
  min-height: 45px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  argin-bottom: 0;
  /* color: var(--uc-default-color); */
  color: black;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right;
}

.form-select option,
.form-control option {
  font-size: 13px;
  argin-bottom: 0;
  color: black;
  font-family: var(--uc-general-font);
}

input::placeholder,
.form-control::placeholder,
input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  /* color: var(--uc-default-color); */
  color: black;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--uc-general-font);
}

/*==========================================================
# Property Block
==========================================================*/
.property-block .entry-thumbnail {
  position: relative;
}

.property-block .post-meta {
  display: flex;
  align-items: center;
}

.property-block .entry-thumbnail .entry-thumbnail-image,
.property-block .entry-thumbnail > a {
  position: relative;
  display: block;
}

.property-block .entry-thumbnail .entry-thumbnail-image::before,
.property-block .entry-thumbnail > a::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(49, 49, 69);
  background: linear-gradient(
    0deg,
    rgba(49, 49, 69, 0.8) 0%,
    rgba(49, 49, 69, 0) 50%
  );
}

.property-block .property-type,
.property-block .property-type a {
  font-family: var(--uc-accent-font);
  font-size: 13px;
  text-decoration: none;
  color: var(--uc-default-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  display: block;
}

.property-block .entry-thumbnail .type {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 10;
  width: 94%;
  display: flex;
  justify-content: space-between;
}

.property-block .entry-thumbnail .type span {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--uc-text-font);
  letter-spacing: 1px;
  margin-right: 3px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  color: var(--uc-white-color);
}

.property-block .entry-header .badge .rent,
.property-block .entry-header .badge .sale,
.property-block .type .rent,
.property-block .type .sale {
  background-color: #f95e3b;
}

.pro-type-card {
  background: #000;
}

.property-block .entry-header .badge .featured,
.property-block .type .featured {
  background-color: #0e0e0e;
}

.property-block .listing-price {
  line-height: 1;
}

.quick-meta {
  margin: 0;
}

.quick-meta li {
  list-style: none;
}

.property-block .entry-thumbnail .quick-meta {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 5px;
  z-index: 10;
}

.property-block .entry-thumbnail .quick-meta li a {
  color: #000;
  font-size: 13px;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: var(--uc-white-color);
  text-align: center;
  border-radius: 3px;
}

.property-block .property-seller-name {
  display: flex;
  gap: 10px;
}

.property-block .property-seller-name img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.property-block .property-seller-name a {
  text-decoration: none;
}

.property-block .post-date {
  font-family: var(--uc-primary-font);
  font-size: 13px;
  color: var(--uc-default-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
}

.property-block .listing-title,
.property-block .listing-title a {
  font-weight: 600;
  color: var(--uc-dark-color);
  font-size: 15px;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 0.5px;
  -moz-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.property-block .listing-title:hover,
.property-block .listing-title a:hover {
  color: var(--uc-primary-color);
}

.property-block ul {
  margin: 0;
}

.property-block ul li {
  list-style: none;
}

.custom-list ul li {
  list-style: inside;
  margin-left: 25px;
}
.custom-list ol li {
  list-style-type: decimal;
  margin-left: 25px;
}

.entry-footer .entry-author .property-author a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.entry-footer .entry-author .property-author img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.entry-footer .message-author a {
  font-family: var(--uc-accent-font);
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 35px;
  display: table;
  color: var(--uc-dark-color);
  background-color: var(--uc-light-color);
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.property-grid-1 .listing-price {
  font-weight: 600;
  color: #098409;
  display: flex;
  font-family: var(--uc-primary-font);
  font-size: 17px;
  align-items: center;
  gap: 5px;
  line-height: 1;
}

.property-grid-1 .listing-price small {
  font-size: 13px;
  font-weight: 500;
  color: var(--uc-default-color);
  letter-spacing: 0.5px;
}

.property-grid-1 .entry-wrapper {
  background-color: #fff;
}

.property-grid-1 .entry-content-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.332);
}

.property-grid-1 .listing-location {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  color: var(--uc-primary-color);
  line-height: 25px;
}

.property-grid-1 .property-info {
  display: flex;
  gap: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--uc-light-color);
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.property-grid-1 .property-info li {
  color: var(--uc-dark-color);
  font-size: 13px;
}

.property-grid-1 .property-info li span {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 5px;
}

.property-grid-1 .post-meta {
  justify-content: space-between;
  align-items: center;
}

.property-card-img {
  height: 200px;
  width: 100%;
}

/*===============================================================================
# Team Block
================================================================================*/
.member-block-1 {
  width: 100%;
  padding: 35px;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  border: 1px solid;
  border-color: var(--uc-light-gray-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin: -1px;
}

.member-block-1:hover {
  -webkit-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.member-block-1 .entry-thumbnail {
  padding: 0 30px;
}

.member-block-1 .entry-thumbnail img {
  border-radius: 100%;
  margin-bottom: 30px;
  width: 200px;
}

.member-block-1 .entry-content-wrapper {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.member-block-1 .entry-content-wrapper .member-name a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--uc-primary-color);
  text-decoration: none;
}

.member-block-1 .entry-content-wrapper .designation {
  display: inline-block;
  color: var(--uc-dark-color);
  font-size: 16px;
  font-family: var(--uc-primary-font);
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.inner-page-banner {
  height: 60vh;
}

/*=======================================================
# Box Style
========================================================*/
.box-style-1 .entry-wrapper {
  padding: 40px;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.box-style-1 .entry-wrapper:hover {
  -webkit-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.box-style-1 .entry-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-style-1 .entry-content {
  color: var(--uc-dark-color);
  letter-spacing: 1px;
}

.box-style-1 .entry-title,
.box-style-1 .entry-title a {
  text-transform: uppercase;
  color: var(--uc-dark-color);
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.box-style-1 .btn-link {
  color: var(--uc-primary-color);
}

.box-link {
  text-decoration: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  background-color: var(--uc-white-color);
  transition: transform 0.3s ease-in-out;
}

.box-link:hover {
  transform: scale(1.01);
}

.why-choose-box {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  padding: 20px;
}

.why-choose-box:hover {
  -webkit-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.benefit-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  border-top: 4px solid var(--uc-primary-color);
  border: 1px solid var(--uc-light-gray-color);
}

.benefit-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.benefit-icon {
  font-size: 2.5rem;
  color: var(--uc-primary-color);
  margin-bottom: 20px;
}

.box-link .entry-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box-link .box-title,
.box-link .box-title a {
  font-size: 15px;
  color: var(--uc-dark-color);
  margin-bottom: 0;
  letter-spacing: 1px;
}

.box-link p {
  color: var(--uc-default-color);
}

.box-link .icon-box {
  width: 50px;
  height: 50px;
}

.box-link .entry-content {
  font-family: var(--uc-text-font);
  color: var(--uc-default-color);
}

.box-link .entry-header .entry-title a,
.box-link .entry-header .entry-title {
  font-family: var(--uc-primary-font);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--uc-dark-color);
}

.hover-fade-other-box:hover .box-link {
  filter: blur(1px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.hover-fade-other-box:hover .box-link:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.box-hover-zoomer {
  position: relative;
  height: 100%;
}

.box-hover-zoomer .entry-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--uc-light-gray-color);
  /* background-color: white; */
  /* background-color: #EDE8D0; */
  padding: 20px;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.box-hover-zoomer .entry-wrapper .icon-box {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: var(--uc-primary-color);
  color: #fff;
  text-align: center;
  line-height: 55px;
  margin-bottom: 20px;
  font-size: 23px;
}

.box-hover-zoomer .entry-wrapper .entry-title {
  margin-bottom: 0;
}

.box-hover-zoomer .entry-wrapper .entry-title {
  font-family: var(--uc-accent-font);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--uc-dark-color);
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 600;
}

.box-hover-zoomer .entry-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: var(--uc-light-gray-color); */
  background-color: #d3d3d3;
  /* background-color: white; */
  /* background-color: #EDE8D0; */
  padding: 20px;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.box-hover-zoomer .entry-wrapper:hover {
  height: 110%;
  background-color: var(--uc-primary-color);
}

.box-hover-zoomer .entry-wrapper:hover .entry-footer,
.box-hover-zoomer .entry-wrapper:hover .entry-content,
.box-hover-zoomer .entry-wrapper:hover .entry-title {
  color: #fff;
}

.box-hover-zoomer .entry-content-wrapper .entry-content {
  font-family: var(--uc-primary-font);
  letter-spacing: 1px;
}

.box-hover-bottom-line .entry-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  padding: 35px;
  background-color: var(--uc-white-color);
  gap: 20px;
  position: relative;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  border: 1px solid;
  border-color: var(--uc-light-gray-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  /* height: 480px; */
}

.box-hover-bottom-line .entry-wrapper:hover {
  -webkit-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.box-hover-bottom-line .entry-title,
.box-hover-bottom-line .entry-title a {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--uc-dark-color);
  text-decoration: none;
  margin-bottom: 0;
  text-align: center;
}

.box-hover-bottom-line .icon-box {
  font-size: 24px;
  color: var(--uc-primary-color);
}

.box-hover-bottom-line .entry-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-hover-bottom-line .entry-wrapper::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%;
  background-color: var(--uc-primary-color);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.box-hover-bottom-line .entry-wrapper:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}

/*===============================================================================
Owl Carousel Style Start
==================================================================================*/
.owl-carousel.dot-disable .owl-dots,
.owl-carousel.nav-disable .owl-nav {
  display: none !important;
}

.owl-outer-20 .owl-stage-outer {
  padding: 20px;
  margin: -20px;
}

.owl-carousel .owl-nav button span {
  display: block;
  margin-top: -5px;
}

.owl-carousel.nav-top-right .owl-nav {
  position: absolute;
  right: 0;
  top: -70px;
}

.owl-carousel.nav-top-right .owl-nav button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  background-color: var(--uc-light-color);
  color: var(--uc-dark-color);
  margin-left: 5px;
}

.owl-carousel.nav-between-in .owl-nav button.owl-prev {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.owl-carousel.nav-between-in .owl-nav button.owl-next {
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.owl-carousel.nav-between-in .owl-nav button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  background-color: var(--uc-dark-color);
  color: var(--uc-white-color);
  margin-left: 5px;
}

.owl-carousel.nav-top-right .owl-nav button:hover {
  background-color: var(--uc-primary-color);
  color: var(--uc-dark-color);
}

.owl-carousel button.owl-dot.active {
  width: 10px;
  height: 10px;
  background-color: var(--uc-dark-color) !important;
  border-radius: 50%;
  border: 3px solid #e0e2e3;
}

.owl-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #e0e2e3;
  border: 3px solid #fff;
}

.testimonial-simple blockquote {
  font-size: 16px;
  color: #fff;
  line-height: 34px;
  padding: 30px 0;
  border: none;
}

.owl-carousel .owl-dots {
  margin-top: 15px;
  display: table;
  margin: 0 auto;
  margin-top: 30px;
}

/*===============================================================================
Hover Effect
================================================================================*/
.hover-underline-animation::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: var(--theme-primary-color);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.hover-shadow-lg {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.hover-shadow-lg:hover {
  -webkit-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.hover-underline-animation:hover::before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.hover-img-zoom {
  overflow: hidden;
}

.hover-grayscale img,
.hover-img-zoom img {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.hover-img-zoom:hover img {
  transform: scale(1.05);
}

.hover-grayscale:hover img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*===============================================================================
# Testimonial Block
================================================================================*/
.about-avata .name {
  font-weight: 600;
  color: var(--uc-dark-color);
}

.about-avata {
  font-family: var(--uc-primary-font);
}

.quote-icon img {
  max-width: 50px;
}

.testimonial-block-1 {
  padding: 20px;
  background-color: var(--uc-light-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  border: 1px solid;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-color: var(--uc-light-gray-color);
  background-color: #fff;
}

.testimonial-block-1:hover {
  border-color: rgba(128, 128, 128, 0.332);
}

.testimonial-block-1 .image-avata {
  width: 50px;
}

.testimonial-block-1 p {
  font-size: 17px;
  line-height: 30px;
}

.testimonial-block-1 .quote-icon {
  font-size: 40px;
}

/*==============================================================
# Post Block
==============================================================*/
.entry-post .post-title,
.entry-post .post-title a {
  text-decoration: none;
  font-size: 18px;
  color: var(--uc-dark-color);
  font-family: var(--uc-primary-font);
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.entry-post .post-title:hover {
  color: var(--uc-primary-color);
}

.entry-post .entry-meta {
  display: flex;
  gap: 10px;
  line-height: 18px;
}

.entry-post .entry-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.entry-post .entry-meta a {
  color: var(--uc-primary-color);
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1;
}

.entry-post .entry-meta a:hover {
  text-decoration: underline;
}

.post-block-1 .entry-thumbnail img,
.post-block-2 .entry-thumbnail img,
.post-block-3 .entry-thumbnail img,
.post-block-4 .entry-thumbnail img {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.post-block-1 .entry-wrapper {
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.332);
}

.post-block-1 .entry-wrapper:hover img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.post-block-1.list-view .entry-wrapper {
  flex-direction: row;
}

.post-block-1.list-view .entry-thumbnail-wrapper {
  flex: 0 0 50%;
}

.post-block-1 .entry-content-wrapper {
  padding: 24px;
  /* padding-bottom: 54px; */
}

.post-block-1 .entry-meta {
  position: absolute;
  left: 24px;
  bottom: 24px;
  gap: 15px;
}

.post-block-1 .entry-meta a {
  position: relative;
  color: var(--uc-primary-color);
}

.post-block-1 .entry-meta a:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--uc-gray-color);
  right: -8px;
  top: 0;
}

.blog-card-img {
  height: 250px;
  width: 100%;
}

.post-block-3 .entry-wrapper {
  background-color: var(--uc-white-color);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

/*==============================================================
# Single Post
==============================================================*/

.single-post-1 .entry-wrapper {
  gap: 20px;
}

.single-post-1 .entry-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.single-post-1 .entry-title {
  font-size: 24px;
  margin-bottom: 0;
}

.single-post-1 .entry-thumbnail-wrapper {
  padding-top: 85px;
}

.single-post-1 .entry-content-wrapper {
  position: static;
  gap: 30px;
}

.single-post-1 .entry-meta {
  gap: 15px;
}

.single-post-1 .entry-meta a {
  color: var(--uc-dark-color);
  position: relative;
}

.single-post-1 .entry-meta a:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--uc-gray-color);
  left: -9px;
  top: 0;
}

.single-post-1 .entry-social,
.single-post-1 .entry-tags {
  display: flex;
  gap: 5px;
}

.single-post-1 .entry-social span,
.single-post-1 .entry-tags span {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.single-post-1 .entry-tags a {
  background-color: var(--uc-white-color);
  color: var(--uc-dark-color);
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 2px;
  font-weight: 500;
  padding: 5px 8px;
  display: block;
  text-decoration: none;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.single-post-1 .entry-tags a:hover {
  background-color: var(--uc-primary-color);
  color: var(--uc-white-color);
}

.single-post-1 .entry-social a {
  background-color: var(--uc-secondary-color);
  color: var(--uc-white-color);
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 2px;
  font-weight: 500;
  padding: 7px 12px;
  display: block;
  text-decoration: none;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.single-post-1 .entry-social a i {
  color: var(--uc-primary-color);
}

.single-post-1 .entry-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*==============================================================
# Widget Style
==============================================================*/
.widget {
  margin-bottom: 24px;
  color: var(--uc-dark-color);
  font-family: var(--uc-text-font);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 14px;
  padding: 35px;
}

.widget.footer-widget {
  color: var(--uc-white-color);
  font-family: var(--uc-text-font);
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  padding: 0;
}

.widget-title {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--uc-dark-color);
  letter-spacing: 2px;
  font-family: var(--uc-accent-font);
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 30px;
}

.footer-widget .widget-title {
  color: var(--uc-white-color);
  font-size: 17px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.footer-widget ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.widget ul {
  margin: 0;
}

.widget ul li {
  line-height: 25px;
  list-style: none;
}

.widget ul li a {
  text-decoration: none;
}

.social-widget {
  display: flex;
  gap: 20px;
}

.social-widget li a,
.social-widget a {
  font-size: 20px;
  text-decoration: none;
  color: var(--uc-dark-color);
}

.footer-widget.social-widget li a,
.footer-widget.social-widget a {
  color: var(--uc-white-color);
  transition: transform 0.4s ease;
}

.footer-widget.social-widget li a,
.footer-widget.social-widget a:hover {
  color: var(--uc-primary-color);
  transform: translateY(-10px);
}

.widget ul li a {
  text-decoration: none;
  color: var(--uc-dark-color);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.widget.footer-widget ul li a {
  color: var(--uc-white-color);
}

.blog-readmore:hover {
  color: black;
}

/*==========================================================
Tab Block Style
==========================================================*/

.tab-filter-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
}

.tab-filter-nav li {
  color: var(--uc-dark-color);
  font-family: var(--uc-primary-font);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

.tab-filter-nav li.mixitup-control-active {
  color: var(--uc-primary-color);
  text-decoration: line-through;
}

.tab-style-2 {
  width: max-content;
  max-width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  background: #fff;
  border-radius: 60px;
  border: 1px solid var(--uc-primary-color);
}

.tab-style-2 .tab-filter-nav li a.nav-link {
  font-family: var(--uc-primary-font);
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--uc-dark-color);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.tab-style-2 .tab-filter-nav li a.nav-link:hover {
  color: var(--uc-primary-color);
}

.tab-style-2 .tab-filter-nav li a.nav-link.active {
  color: var(--uc-primary-color);
  text-decoration: line-through;
}

/*==========================================================
Pagination
==========================================================*/
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  gap: 2px;
  margin: 0;
}

.pagination li {
  list-style: none;
}

.pagination .page-item .page-link {
  display: flex;
  align-items: center;
  color: var(--uc-dark-color);
  text-align: center;
  padding: 0;
  font-weight: 500;
  height: 40px;
  width: 40px;
  justify-content: center;
  font-family: var(--uc-primary-font);
  border-radius: 100%;
  border-color: transparent;
}

.pagination .page-item.active .page-link {
  background-color: var(--uc-primary-color);
  color: #fff;
}

.pagination-wrap {
  margin-top: 50px;
}

.pagination .page-link,
.pagination .page-item.disabled .page-link {
  background: transparent;
}

/*==========================================================
Single Property
==========================================================*/
.single-property-page .entry-single-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.entry-single-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--uc-dark-color);
  margin-bottom: 0;
  line-height: 35px;
  width: 80%;
}

.single-property-page .entry-single-wrapper .entry-single-header {
  display: flex;
  justify-content: space-between;
}

.single-property-page .entry-single-header .listing-location {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: var(--uc-text-color2);
  line-height: 25px;
}

.single-property-page .entry-single-header .type span {
  padding: 5px 8px;
  font-family: var(--uc-primary-font);
  letter-spacing: 2px;
  background-color: var(--uc-primary-color) !important;
  text-transform: uppercase;
  font-size: 12px;
}

.single-property-details,
.single-property-description {
  padding: 35px;
  background-color: #fff;
  position: relative;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.332);
}

.single-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.single-content-wrapper .property-feature,
.single-content-wrapper .property-address,
.single-content-wrapper .property-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.single-content-wrapper .property-info li {
  width: 33%;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  gap: 10px;
  font-size: 17px;
}

.single-content-wrapper .property-address li {
  width: 50%;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  font-size: 17px;
}

.single-content-wrapper .property-feature li {
  width: 50%;
  flex: 0 0 auto;
  display: flex;
  font-size: 15px;
}

.single-content-wrapper .property-feature li span,
.single-content-wrapper .property-info li span,
.single-content-wrapper .property-address li span {
  color: var(--uc-dark-color);
  font-size: 17px;
}

.ac-block .ac-title {
  padding: 10px 15px;
  background-color: var(--uc-secondary-color);
  color: var(--uc-white-color);
  font-family: var(--uc-primary-font);
  font-weight: 600;
  font-size: 16px;
  display: block;
  cursor: pointer;
  letter-spacing: 2px;
}

.ac-block .ac-collapse {
  display: none;
}

.simple-accordion {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

table td,
table th {
  border: none;
  padding: 10px;
}

.table-striped td {
  border-top: 1px solid #dee2e6;
}

.table-striped th {
  box-shadow: none;
}

.contact-with-agent {
  background-color: var(--uc-white-color);
  padding: 35px;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.332);
}

.single-property-sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 0;
}

.single-propery-silid-section {
  margin-top: -80px;
}

.location-iframe iframe {
  width: 100%;
  height: 450px;
}

/*=====================================================
# Accordion
*====================================================*/
.bb-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ac-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ac-toggle {
  padding: 18px;
  background-color: var(--uc-light-color);
  color: var(--uc-dark-color);
  display: block;
  width: 100%;
  font-family: var(--uc-primary-font);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.ac-toggle.active {
  background-color: var(--uc-primary-color);
  color: var(--uc-white-color);
}

.ac-collapse {
  padding: 18px;
  background-color: var(--uc-light-color);
  display: none;
}

/*=====================================================
# Contact Page
*====================================================*/
.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info li {
  list-style: none;
}

.contact-info li span {
  color: var(--uc-dark-color);
  font-size: 15px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  font-family: var(--uc-primary-font);
}

/* Property Menu */
.property-menu {
  position: absolute;
  top: 30px;
  z-index: 2000;
  left: 30px;
}

.property-menu img {
  width: 150px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: right 0.3s ease-in-out;
  z-index: 1040;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.sidebar .sidebar-list {
  display: flex;
  flex-direction: column;

  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sidebar .sidebar-list li a {
  color: white;
  color: var(--uc-light-gray-color);
  font-size: 20px;
  font-weight: 600;
}

.sidebar .sidebar-list li a:hover {
  color: #aa8453;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  z-index: 940;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* When visible */
.overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
  padding-right: 15px;
}

.property-menu-icon {
  position: absolute;
  right: 40px;
  top: 50px;
  z-index: 800;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.property-menu-icon:hover {
  color: var(--uc-primary-color);
}

.inner-page-banner {
  transition: transform 0.2s ease;
  will-change: transform;
}

/*==========================================================
Responsive Code
==========================================================*/
@media screen and (min-width: 1200px) {
  .box-layout {
    width: 85%;
  }

  .box-hover-bottom-line .entry-wrapper.first-one,
  .box-hover-bottom-line .entry-wrapper.second-one {
    height: 300px;
  }

  .box-hover-bottom-line .entry-wrapper.third-one,
  .box-hover-bottom-line .entry-wrapper.fourth-one {
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .box-hover-bottom-line .entry-wrapper {
    height: auto;
  }
}

/* iPad Pro 12.9" Portrait & Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .single-propery-silid-section {
    margin-top: -210px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 10px 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .main-nav {
    background: linear-gradient(to bottom, #000000ab, #1a1a1a75, #33333300);
  }
}

@media screen and (max-width: 991px) {
  .box-hover-bottom-line .entry-wrapper {
    height: auto;
  }

  .nav-white .navbar-nav li a,
  .nav-active-white .navbar-nav li.active > a {
    color: var(--uc-dark-color);
  }

  .custom-text {
    font-size: 17px;
    font-family: var(--uc-general-font);
  }

  .box-hover-zoomer .entry-wrapper .icon-box {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
  .box-hover-zoomer .entry-wrapper .entry-title {
    font-size: 12px;
  }
  h1,
  .h1 {
    font-size: 25px;
    line-height: 35px;
  }

  h3,
  .h3 {
    font-size: 23px;
    line-height: 33px;
  }

  h2,
  .h2 {
    font-size: 26px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .page-title {
    font-size: 30px;
  }

  .custom-video-banner {
    height: 80vh;
  }

  .property-card-img {
    height: auto;
    width: 100%;
  }

  .blog-card-img {
    height: auto;
    width: 100%;
  }

  .member-block-1 {
    padding: 10px;
  }

  .property-grid-1 .entry-content-wrapper {
    padding: 10px;
  }

  .box-style-1 .entry-wrapper {
    padding: 10px;
  }

  .post-block-1 .entry-content-wrapper {
    padding: 10px;
  }

  .testimonial-block-1 {
    padding: 10px;
  }

  .box-hover-bottom-line .entry-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .entry-single-title {
    font-size: 18px;
  }

  .single-content-wrapper .property-info li {
    width: 50%;
  }

  .top-header {
    display: none;
  }

  .header-style-1 {
    background-color: var(--uc-white-color);
  }

  .header-style-1.header-absolute {
    position: static;
    /* background-color: var(--uc-secondary-color); */
    background-color: var(--uc-white-color);
    /* background-color: #ede8d0; */
    /* background-color: #fff; */
  }

  .header-style-2.header-absolute {
    position: static;
    /* background-color: var(--uc-secondary-color); */
    background-color: var(--uc-white-color);
    /* background-color: #ede8d0; */
    /* background-color: #fff; */
  }

  .header-style-3.header-absolute {
    position: static;
    background: var(--uc-secondary-color);
    padding-bottom: 0;
  }

  .header-style-1 .navbar-toggler-icon,
  .header-style-1 .navbar-toggler,
  .header-style-2 .navbar-toggler-icon,
  .header-style-2 .navbar-toggler,
  .header-style-3 .navbar-toggler-icon,
  .header-style-3 .navbar-toggler {
    background-color: var(--uc-white-color);
    border-radius: 0;
    padding: 5px 10px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: 0;
    background-color: var(--uc-light-color);
  }

  .field-search {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .property-search-form.on-slider {
    margin-top: 50px;
  }

  .navbar-brand {
    width: 90px;
  }

  .main-header .navbar .btn {
    width: 100%;
  }

  .left-sidebar-block {
    flex: 0 0 250px;
  }

  .agent-block-1.list-view .entry-wrapper {
    flex-direction: column;
  }

  .agent-block-1.list-view .entry-thumbnail {
    width: 100%;
  }

  .inner-page-banner {
    height: 40vh;
  }
}

@media screen and (max-width: 767px) {
  .single-property-details,
  .single-property-description {
    padding: 20px;
  }

  .single-content-wrapper .property-feature li,
  .single-content-wrapper .property-address li {
    width: 100%;
  }

  .single-property-page .entry-single-wrapper .entry-single-header {
    flex-direction: column;
    gap: 15px;
  }

  .single-content-wrapper .property-info li {
    width: 100%;
  }

  .tab-style-1 .tab-filter-nav {
    position: static;
    flex-direction: column;
    gap: 10px;
  }

  .copyright {
    text-align: center;
  }

  .bottom-footer-nav {
    justify-content: center;
  }

  .listing-filter-bar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .xs-mx-none {
    display: none !important;
  }

  .banner-search {
    padding-top: 150px;
  }

  .dropdown-toggle {
    padding-right: 40px;
  }

  .testimonial-block-2 .owl-nav {
    top: inherit;
    right: 50%;
    transform: translateX(50%);
    bottom: -50px;
  }

  .entry-single-title {
    font-size: 15px;
  }
}

/* WhatsApp Icon Styles */
.whatsapp-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  animation: pulse 1.5s infinite ease-in-out;
}

.whatsapp-icon img {
  width: 30px;
  display: block;
}

/* Hover Effect */
.whatsapp-icon:hover {
  transform: scale(1.2);
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Call Icon Styles */
.call-icon {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1000;
  background-color: var(--uc-dark-color);
  border-radius: 50%;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  animation: pulse 1.5s infinite ease-in-out;
}

.call-icon img {
  width: 20px;

  display: block;
}

/* Hover Effect */
.call-icon:hover {
  transform: scale(1.2);
}
